<h1>Cart</h1>

<ng-container *ngIf="(dataSource | async).length; else elseBlock">
  <table style="width: 100%" mat-table [dataSource]="dataSource | async" class="mat-elevation-z8">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>Product name</th>
      <td mat-cell *matCellDef="let productGroup">{{ productGroup.product.name }}</td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let productGroup">
        <button 
          mat-icon-button 
          color="primary"
          (click)="addProductToCart(productGroup.product)">
          <mat-icon>add</mat-icon>
        </button>
        {{ productGroup.quantity }}
        <button 
          mat-icon-button 
          color="primary"
          (click)="removeProductFromCart(productGroup.product)">
          <mat-icon>remove</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let productGroup">${{ productGroup.product.price }}</td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>TotalPrice</th>
      <td mat-cell *matCellDef="let productGroup">${{ productGroup.totalPrice }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <br>
  
  <div class="summary">
    <span>Total price: ${{ totalPrice$ | async }}</span>

    <a
      routerLink="/payment"
      mat-raised-button
      color="primary">
      CHECKOUT
    </a>
  </div>

</ng-container>

<ng-template #elseBlock>
  Your cart is empty
  <br>
  <br>
  <a mat-raised-button color="primary" routerLink="/">Go shopping!</a>
</ng-template>