$breakpoint: 600px;

.menu-wrapper {
  .menu-row:last-child {
    @media screen and (min-width: $breakpoint){
      display: none;
    }
  }
}

.menu {
  display: none;

  @media screen and (min-width: $breakpoint) {
    margin-left: auto;
    display: block;
  }
}

.menu-mobile {
  display: flex;
  flex: 1;
  
  > * {
    flex: 1;
  }
}