<mat-toolbar class="menu-wrapper">
  <mat-toolbar-row class="menu-row">
    <a mat-button routerLink="/">Candy shop</a>
    <app-menu class="menu" [cartProductsNumber]="cartProductsNumber$ | async"></app-menu>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-row">
    <app-menu class="menu-mobile" [cartProductsNumber]="cartProductsNumber$ | async"></app-menu>
  </mat-toolbar-row>
</mat-toolbar>

<app-container>
  <router-outlet></router-outlet>
</app-container>

<ngx-ui-loader fgsColor="pink" pbColor="pink"></ngx-ui-loader>